<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- jQuery -->
<script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script type="text/javascript" src="../static/js/metisMenu.min.js" th:src="@{/js/metisMenu.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script type="text/javascript" src="../static/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>

<!-- Bootstrap Core CSS -->
<link type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<!-- MetisMenu CSS -->
<link type="text/css" href="../static/css/metisMenu.min.css" th:href="@{/css/metisMenu.min.css}" rel="stylesheet" />

<!-- Custom CSS -->
<link type="text/css" href="../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet" />

<!-- Custom Fonts -->
<link type="text/css" href="../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet" />